// Place all the styles related to the Gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centered {
  margin: 0 auto;
}
.crop {
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;

}
#tag_cloud {
  width: 400px;
  word-wrap: break-word;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
.text-muted {
    padding-bottom: 20px;
}
.text-muted a {
    padding: 30px;
    color: #333;
    font-size: 20px;
}
